.header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
  align-items: center;
  background-color: #fcfcfc;
  position: fixed;
  width: 100%;
  padding: 0px 40px 20px 40px;
  left: 0px;
  top: 56px;
  border-bottom: 1px solid #f7f7f7; 
}

.header .header__title {
  font-size: 24px;
  font-weight: 600;
}

.header .header__icon {
  font-size: 20px;
  margin-left : 20px;
  cursor: pointer;
}

.header .header__header-column {
  display: flex;
  align-items: center;
}

.header .header__back-btn {
  font-size: 22px;
  margin-right: 20px;
}

