.nav {
  background-color: #fcfcfc;
  position: fixed;
  /* "position fixed" needs "width" */
  width: 100%;
  padding: 20px 50px;
  left: 0px;
  bottom: 0px;
  border-top: 1px solid #f7f7f7;
}

.nav .nav__list {
  display: flex;
  justify-content: space-between;
}

.nav i {
  font-size: 20px;
}

/* Relative and absolute is a set */
/* If I didn't use relative for the parent, absolute will be appied based on body */
.nav .nav__list-link {
  position: relative;
  /* relative is an anchor */
}

.nav .nav__badge {
  position: absolute;
  color: white;
  background-color: #dc5d46;
  font-size: 10px;
  top: -7px;
  right: -7px;
  width: 18px;
  height: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  /* To make a round, update the half of the width for border-radius */
  border-radius: 10px;
}